VITE_API_BASE_URL=URL_BASE_DE_LA_API_ASEBEP

# Activa los datos simulados del portal de usuario.
VITE_USAR_DATOS_SIMULADOS=true

# Activa los datos simulados de las vistas administrativas.
VITE_USAR_DATOS_ADMIN_SIMULADOS=true

# Activa temporalmente el login administrativo simulado.
# Se retirará cuando terminemos de implementar el login unificado.
VITE_USAR_LOGIN_ADMIN_SIMULADO=true